{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Я выбираю Марс!</h1>
{{ super() }}
<h3>Вам кажется на Земле от Вас ничего не зависит?</h3>
<h3>Вы хотели бы жизнь полную приключений?</h3>
<h3>Вам нравятся встречи с новыми интересными людьми, которые разделяют Ваши ценности?</h3>
<h3>Вы считаете что способны на большее?</h3>
<h3>Вы смотрели с мечтой в звездное небо?</h3>

<h2>Тогда нам по пути!</h2>
<p>Новые, невероятные возможности, предоставляет наша компания.</p>
<p> Вы будете среди первых, кто ступит на поверхность Красной планеты, построит марсианские города,</p>
<p> заполнит Новый мир цветущими садами.</p>
<p> Имя Ваше запишут в Завет Галактических Времен.</p>


<p>Скоро, совсем скоро, наш межпланетный флот отправляется в путь невероятных открытий и приключений</p>
{% endblock %}
